p {font-size: 10px; font-weight: light;}
#p2 {color: yellow; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
.green { color: green; font-size: x-large;}
main p {background-color: beige; font-size: xx-large;}