p {font-size: 15px; font-weight: bold;}
#p2 {color: darkred; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
.green { color: green; font-size: x-large;}
main p {background-color: beige; font-size: xx-large;}